<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->

<div class="model-variables">
  <div
    *ngIf="activeCuid == null"
    class="model-variables-hint">
    Select a computing unit to mount models and bind them here.
  </div>
  <div
    *ngIf="activeCuid != null && !activeCuIsKubernetes"
    class="model-variables-hint">
    Model mounting is only available on Kubernetes computing units.
  </div>
  <div
    *ngIf="activeCuIsKubernetes && mountedModelPaths.length === 0 && !loading"
    class="model-variables-hint">
    No models are mounted on the active computing unit yet. Use "Mount models into computing unit" on the computing unit
    to add one.
  </div>

  <div
    class="model-variable-row"
    *ngFor="let row of rows; let i = index; trackBy: trackByIndex">
    <input
      nz-input
      class="model-variable-name"
      placeholder="variable"
      [(ngModel)]="row.variableName"
      (ngModelChange)="onRowChange()" />
    <span class="model-variable-arrow">=</span>
    <nz-select
      class="model-variable-select"
      nzShowSearch
      nzAllowClear
      nzPlaceHolder="mounted model"
      [(ngModel)]="row.modelPath"
      (ngModelChange)="onRowChange()">
      <nz-option
        *ngFor="let path of optionsForRow(row)"
        [nzValue]="path"
        [nzLabel]="path"></nz-option>
    </nz-select>
    <i
      nz-icon
      nzType="delete"
      class="model-variable-remove"
      nz-tooltip
      [nzTooltipTitle]="'Remove'"
      (click)="removeRow(i)"
      role="button"
      aria-label="Remove variable"></i>
  </div>

  <button
    nz-button
    nzType="dashed"
    nzSize="small"
    class="model-variables-add"
    (click)="addRow()">
    <i
      nz-icon
      nzType="plus"></i>
    Add variable
  </button>
</div>
